DEBUG
.gitignore
etc/init.d/miner-start.sh
etc/init.d/miner-start.sh.a
etc/minepeon.conf
etc/miner.conf
etc/miner.conf.orig
etc/miner.user.conf
etc/uipassword
http/rrd/mhsav-day.png
http/rrd/mhsav-hour.png
http/rrd/mhsav-month.png
http/rrd/mhsav-week.png
http/rrd/mhsav-year.png
var/rrd/hashrate.rrd
var/rrd/temp.rrd
bin/bfgminer.cfg
etc/.DS_Store
etc/._.DS_Store
etc/contractStatus.dat
etc/cron.d/.DS_Store
etc/cron.d/._.DS_Store
etc/cron.d/1min/MMAUpdate
etc/cron.d/2min/.DS_Store
etc/cron.d/2min/._.DS_Store
etc/cron.d/2min/GHFCcontractStatus
etc/cron.d/2min/MMACmdCheck
etc/cron.d/5min/GHFCSubminerSTAT
etc/cron.d/hourly/UPDATE
etc/user.conf
http/cex/
http/debug.php
http/install_temp/
http/plugin.xml
http/plugins/
http/redirect/
http/test.php
var/sql/summary.db



