
<div class="row">
  <div class="col-sm-3 col-md-2">
    <br />
    <p>
      <button type="button" ng-click="minerCompat()" class="btn btn-warning btn-block">Compatibility reload</button>
    </p>
    <p>
      <button type="button" ng-click="minerRestart=1" class="btn btn-warning btn-block">Restart miner</button>
    </p>
    <p class="help-block" ng-show="minerRestart&&settings.userHelp">
      Ordered from gentle to rough.
    </p>
    <div class="list-group" ng-show="minerRestart">
      <a href ng-click="cgminer('restart')" class="list-group-item">API</a>
      <a href ng-click="cgminer('quit')" class="list-group-item">API 2</a>
      <a href ng-click="cgminer('quit')" class="list-group-item">Service</a>
    </div>
    <h4>Common pools</h4>
    <p class="help-block" ng-show="settings.userHelp">
      Click to add pool.
    </p>
    <div class="list-group">
      <a href ng-click="poolAdd({url:'stratum.mining.eligius.st:3333',pass:' '})" class="list-group-item">Eligius</a>
      <a href ng-click="poolAdd({url:'stratum.btcguild.com:3333'})" class="list-group-item">BTC Guild stratum</a>
    </div>
    <h4>Common options</h4>
    <p class="help-block" ng-show="settings.userHelp">
      Click to add option.
    </p>
    <div class="list-group">
      <a href ng-click="optionAdd({key:'no-pool-disable',value:true})" class="list-group-item">no-pool-disable</a>
      <a href ng-click="optionAdd({key:'enable-avalon',value:true})" class="list-group-item">enable-avalon</a>
    </div>
  </div>
  <div class="col-sm-9 col-md-10">

    <h3>Pools</h3>

    <p class="help-block" ng-show="settings.userHelp">
      The settings below serve as direct input to the miner. <strong>One little error can and will let the miner crash.</strong>
    </p>
    <form name="poolForm" class="form-horizontal">
      <div class="row">
        <label class="col-sm-5">URL</label>
        <label class="col-sm-5">User</label>
        <label class="col-sm-2">Pass</label>
      </div>
      <div class="form-group" ng-repeat="pool in pools">
        <div class="col-sm-5">
          <input type="text" ng-model="pool.url" class="form-control" required>
        </div>
        <div class="col-sm-5">
          <input type="text" ng-model="pool.user" class="form-control" required>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="text" ng-model="pool.pass" class="form-control" required>
            <div class="input-group-btn">
              <button type="button" ng-click="poolRemove($index)" class="btn btn-default pull-right">&times;</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" ng-click="poolBack()">Reload pools</button>
      <button type="button" class="btn btn-default" ng-click="poolAdd()">Add pool</button>
      <button type="button" ng-show="poolForm.$dirty && poolForm.$valid" class="btn btn-success" ng-click="poolSave()">Save pools</button>
    </form>

    <h3>Options <small><a href="https://github.com/ckolivas/cgminer#readme">more info on GitHub</a></small></h3>

    <form name="optionForm" class="form-horizontal optionform">
      <div class="row">
        <label class="col-sm-6 col-xs-6">Option</label>
        <label class="col-sm-6 col-xs-6">Info</label>
      </div>
      <div class="form-group" ng-repeat="o in options">
        <div class="col-sm-6 col-xs-6">
          <input type="text" ng-model="o.key" class="form-control" required />
        </div>
        <div class="col-sm-6 col-xs-6">
          <div class="input-group">
            <input type="text" ng-model="o.value" class="form-control" required />
            <div class="input-group-btn">
              <button type="button" ng-click="optionRemove($index)" class="btn btn-default">&times;</button>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default" ng-click="optionBack()">Reload options</button>
      <button type="button" class="btn btn-default" ng-click="optionAdd()">Add option</button>
      <button type="button" ng-show="optionForm.$dirty && optionForm.$valid" class="btn btn-success" ng-click="optionSave()">Save config</button>
    </form>
  </div>
</div>