<button type="button" class="btn btn-default pull-right" ng-click="sync('settings',0,1)">Reload settings</button>
<h3>Peon</h3>
<form name="formUser" class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="userHelp" class="control-label col-sm-3 col-md-2">Help text</label>
      <div class="col-sm-9 col-md-10">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="userHelp" ng-model="settings.userHelp"> Show more information about settings and how the interface works
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-3 col-md-2">Graph interval</label>
      <div class="col-sm-9 col-md-4">
        <div class="btn-group">
          <button type="button" class="btn btn-{{intervalAuto?'primary':'default'}}" ng-click="intervalSet(0)">Auto<span ng-show="intervalAuto">: {{interval}}</span></button>
          <button type="button" class="btn btn-{{intervalMax==3?'primary':'default'}}" ng-click="intervalSet(3)">3</button>
          <button type="button" class="btn btn-{{intervalMax==10?'primary':'default'}}" ng-click="intervalSet(10)">10</button>
          <button type="button" class="btn btn-{{intervalMax==30?'primary':'default'}}" ng-click="intervalSet(30)">30</button>
          <button type="button" class="btn btn-{{intervalMax==200?'primary':'default'}}" ng-click="intervalSet(200)">200</button>
        </div>
      </div>
      <label for="liveMax" class="control-label col-sm-3 col-md-2">Graph points</label>
      <div class="col-sm-9 col-md-4">
        <input type="number" id="liveMax" ng-model="settings.liveMax" placeholder="Default: 50" class="form-control" required>
      </div>
      <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2">
        <p class="help-block" ng-show="settings.userHelp">
          <b>Auto</b>matic will refresh quickly on page load or if the miner was down recently. The refresh interval will slowly rise.<br />
          <b>Graph points</b> is the amount of data points shown on the live graph. 50 is good.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="userTimezone" class="control-label col-sm-3 col-md-2">Timezone</label>
      <div class="col-sm-3 col-md-4">
        <div ng-model="settings.userTimezone" ng-include="'partials/timezone.html'">x</div>
      </div>
      <label for="userTimezone" class="control-label col-sm-3 col-md-2">System time</label>
      <div class="col-sm-3 col-md-4">
        <button type="button" class="btn btn-default pull-right" ng-click="sync('timezone',settings.userTimezone,1)">Update</button>
        <p class="form-control-static">{{settings.date}}</p>
      </div>
    </div>
  </fieldset>
</form>

<form name="formPass" class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label for="userPassword" class="control-label col-sm-3 col-md-2">Web password</label>
      <div class="col-sm-3 col-md-4">
        <input type="password" placeholder="Web password" id="userPassword" name="userPassword" ng-model="userPassword" class="form-control">
      </div>
      <label for="userPassword2" class="control-label col-sm-3 col-md-2">Repeat</label>
      <div class="col-sm-3 col-md-4">
        <input type="password" placeholder="Repeat password" id="userPassword2" name="userPassword2" ng-model="userPassword2" class="form-control">
      </div>
      <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2">
        <p class="help-block" ng-show="settings.userHelp">
          <b>Web password</b> is needed to access this interface. Default password is <code>p</code>. It cannot be empty. Changing it will log you out.
        </p>
      </div>
    </div>
  </fieldset>
  <p class="clearfix text-right">
    <button type="button" class="btn btn-success" ng-click="sync('settings',settings,1);formUser.$setPristine()" ng-show="formUser.$dirty">Save settings</button>
    <button type="button" class="btn {{userPassword!=userPassword2?'btn-danger':'btn-success'}}" ng-click="sync('pass',userPassword,1);formPass.$setPristine()" ng-show="formPass.$dirty" ng-disabled="userPassword!=userPassword2">Save password</button>
  </p>
</form>


<form name="formMining" class="form-horizontal clearfix">
  <h3>Mining</h3>
  <fieldset>
    <div class="form-group">
      <label for="remoteEnable" class="control-label col-sm-3 col-md-2">Modules</label>
      <div class="col-sm-9 col-md-10">
        <label class="checkbox-inline text-muted">
          <input type="checkbox" id="remoteEnable" ng-model="settings.remoteEnable" disabled> Enable Remote control
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="recoverEnable" ng-model="settings.recoverEnable"> Enable Automatic recovery
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="alertEnable" ng-model="settings.alertEnable"> Enable E-mail alerts
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="mmaEnable" ng-model="settings.mmaEnable"> Enable MobileMinerApp
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" id="donateEnable" ng-model="settings.donateEnable"> Enable Donation
        </label>
        <p class="help-block" ng-show="settings.userHelp">
          <b>Remote control</b> shares stats with a remote server. MinePeon will accept commands from the server.<br />
          <b>Automatic recovery</b> responds to alert events by restarting the miner. First gently, then rough.<br />
          <b>E-mail alerts</b> send an e-mail when alerts events are fired.<br />
          <b>Donation</b> donates a couple of mining minutes to the MinePeon project.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="miningExpHash" class="control-label col-sm-3 col-md-2">Expected hashrate</label>
      <div class="col-sm-3 col-md-4">
        <div class="input-group">
          <input type="number" id="miningExpHash" ng-model="settings.miningExpHash" class="form-control" required>
          <span class="input-group-addon">MH/s</span>
        </div>
      </div>
      <label for="miningExpDev" class="control-label col-sm-3 col-md-2">Expected devices</label>
      <div class="col-sm-3 col-md-4">
        <input type="number" id="miningExpDev" ng-model="settings.miningExpDev" class="form-control" required>
      </div>
      <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2">
        <p class="help-block" ng-show="settings.userHelp">
          When <b>Expected hashrate</b> is higher than the hashrate reported by cgminer an alert event will be fired.<br/>
          When <b>Expected devices</b> is higher than the device count reported by cgminer an alert event will be fired.
        </p>
      </div>
    </div>
  </fieldset>
  <p class="clearfix text-right">
    <button type="button" class="btn btn-success" ng-click="sync('settings',settings,1);formMining.$setPristine()" ng-show="formMining.$dirty">Save settings</button>
  </p>
</form>


<form name="formMods" class="form-horizontal clearfix">
  <fieldset ng-show="settings.remoteEnable">
    <h3>Remote control</h3>
    <div class="form-group" ng-show="settings.remoteEnable">
      <label for="remotePriv" class="control-label col-sm-3 col-md-2">Private key</label>
      <div class="col-sm-9 col-md-10">
        <input type="text" id="remotePriv" ng-model="settings.remotePriv" class="form-control">
        <p class="help-block" ng-show="settings.userHelp">
          Use this key to let a Remote Control server authenticate to your MinePeon.
        </p>
      </div>
    </div>
  </fieldset>
  <fieldset ng-show="settings.alertEnable">
    <h3>E-mail alerts</h3>
    <div class="form-group">
      <label for="alertDevice" class="control-label col-sm-3 col-md-2">Device Name</label>
      <div class="col-sm-9 col-md-10">
        <input type="text" id="alertDevice" ng-model="settings.alertDevice" ng-required="settings.alertEnable" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="alertEmail" class="control-label col-sm-3 col-md-2">E-mail</label>
      <div class="col-sm-9 col-md-10">
        <input type="email" id="alertEmail" ng-model="settings.alertEmail" ng-required="settings.alertEnable" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="alertSmtp" class="control-label col-sm-3 col-md-2">SMTP Server</label>
      <div class="col-sm-9 col-md-10">
        <input type="text" id="alertSmtp" ng-model="settings.alertSmtp" ng-required="settings.alertEnable" class="form-control">
        <p class="help-block" ng-show="settings.userHelp">Please choose your own SMTP server.</p>
      </div>
    </div>
  </fieldset>
  <fieldset ng-show="settings.mmaEnable">
    <h3>MobileMinerApp</h3>
    <div class="form-group">
      <label for="mmaEmail" class="control-label col-sm-3 col-md-2">User E-mail</label>
      <div class="col-sm-9 col-md-10">
        <input type="email" id="mmaEmail" ng-model="settings.mma.emailAddress" class="form-control" required>
        <p class="help-block" ng-show="settings.userHelp">E-mail used to receive appKey on MobileMinerApp.com</p>
      </div>
    </div>
    <div class="form-group">
      <label for="mmaAppKey" class="control-label col-sm-3 col-md-2">App Key</label>
      <div class="col-sm-9 col-md-10">
        <input type="text" id="mmaAppKey" ng-model="settings.mma.applicationKey" class="form-control" required>
        <p class="help-block" ng-show="settings.userHelp">App Key from MobileMinerApp.com</p>
      </div>
    </div>
    <div class="form-group">
      <label for="mmaMachineName" class="control-label col-sm-3 col-md-2">Machine Name</label>
      <div class="col-sm-3 col-md-4">
        <input type="text" placeholder="Default: MinePeon" id="mmaMachineName" ng-model="settings.mma.machineName" class="form-control">
      </div>
      <label for="mmaKind" class="control-label col-sm-3 col-md-2">Kind</label>
      <div class="col-sm-3 col-md-4">
        <input type="text" placeholder="Default: PGA, could be ASC" id="mmaKind" ng-model="settings.mma.Kind" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="mmaCoinName" class="control-label col-sm-3 col-md-2">Coin Name</label>
      <div class="col-sm-3 col-md-4">
        <input type="text" placeholder="Default: Bitcoin" id="mmaCoinName" ng-model="mma.CoinName" class="form-control">
      </div>
      <label for="mmaCoinSymbol" class="control-label col-sm-3 col-md-2">Coin Symbol</label>
      <div class="col-sm-3 col-md-4">
        <input type="text" placeholder="Default: BTC" id="mmaCoinSymbol" ng-model="mma.CoinSymbol" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="mmaAlgorithm" class="control-label col-sm-3 col-md-2">Algorithm</label>
      <div class="col-sm-3 col-md-4">
        <input type="text" placeholder="Default: SHA-256" id="mmaAlgorithm" ng-model="mma.Algorithm" class="form-control">
      </div>
      <label for="mmaLogEnable" class="control-label col-sm-3 col-md-2">&nbsp;</label>
      <div class="col-sm-3 col-md-4">
        <label class="checkbox-inline">
          <input type="checkbox" id="mmaLogEnable" ng-model="settings.mma.LogEnable"> Enable cron log
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset ng-show="settings.donateEnable">
    <h3>Donate</h3>
    <div class="form-group" ng-show="settings.donateEnable">
      <label for="donateAmount" class="control-label col-sm-3 col-md-2">Donation minutes</label>
      <div class="col-sm-9 col-md-10">
        <input type="number" id="donateAmount" ng-model="settings.donateAmount" class="form-control">
        <p class="help-block" ng-show="settings.userHelp">
          Please donate!
        </p>
      </div>
    </div>
  </fieldset>
  <p class="clearfix text-right">
    <button type="button" class="btn btn-success" ng-click="sync('settings',settings,1);formMods.$setPristine()" ng-show="formMods.$dirty">Save settings</button>
  </p>
</form>